fastapi == 0.115.6
uvicorn[standard] == 0.34.0
langchain-community == 0.3.14
langchain-groq == 0.2.3
langchain-huggingface == 0.1.2
langchain-core == 0.3.29
faiss-cpu == 1.9.0.post1
sentence-transformers == 3.3.1
youtube-transcript-api == 0.6.3
python-dotenv == 1.0.1
pydantic == 2.10.4
huggingface_hub == 0.27.1
google-auth == 2.29.0